/* CSS Document */

.logo_pequena {
	margin-top: -12px;
}
.texto-centro {
	font-weight: 700;
	text-align: center;
	color: #333;
}
.btn_enviar {
	font-size: 1.4em;
	font-weight: 900;
	color: #2C3E50;
}
.btn_listar {
	font-size: 1.4em;
	font-weight: 900;
	color: #2C3E50;
}
.span_form {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 1em;
	font-weight: 700;
}
