<!-- Sweet Alert - BEGIN --> 
<script th:src="@{/sweetalert/sweetalert.min.js}"></script>
<link th:href="@{/sweetalert/sweetalert.css}" rel="stylesheet" type="text/css" >
<!-- Sweet Alert - END --> 

<!-- Script para verificar se campos obrigatórios foram preenchidos --> 
<script th:src="@{/dist/js/checaCampos.js}"></script> 

<!-- Script carregar o Jquery --> 
<script th:src="@{/dist/js/jquery-3.2.1.min.js}"></script> 

<!-- Script para comparar se as senhas são iguais --> 
<script th:src="@{/dist/js/rest_cep.js}"></script> 
<script th:src="@{/dist/js/obeterAno.js}"></script> 
<script th:src="@{/dist/js/vendor/jquery.min.js}"></script> 
<script th:src="@{/dist/js/flat-ui.min.js}"></script> 
<script th:src="@{/docs/assets/js/application.js}"></script>