<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pontu - Login</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0"/>
  <meta name="keywords" content="ponto, ponto eletronico, registro de ponto">
  <meta name="description" content="Sistema de registro de ponto eletronico para vc poder "/>
  <meta name="author" content="Autor"/>
  <meta name="robots" content="index,follow"/>

  <link rel="shortcut icon" href="../static/img/favicon.ico"/>

  <!-- site css -->
  <link rel="stylesheet" href="../static/css/site.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/bootflat/css/bootflat.css">
  <link rel="stylesheet" href="../static/css/estilos.css">
  <script type="text/javascript" src="../static/js/site.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

</head>
<body>

  <div class="container documents">
    <div class="example cor">
      <h2 class="example-title">Color Swatches <span>(<b>More Colors See</b>: <a href="color-picker.html">Flat UI Color Picker</a>)</span></h2>
      <div class="row">
        <div class="col-md-12">

   
            </fieldset>
            <!-- Endereço -->
            <!--<hr>
            <fieldset>
              <legend>
              <h5>Login</h5>
              </legend>
              <div class="row">
                <div class="col-lg-2 col-xs-12">
                  <div class="form-group" id="input_matricula" >
                    <label for="input_matricula">Matrícula*</label>
                    <input type="text" id="fmatricula" name="fmatricula" class="form-control" placeholder="Mín. 6 caracteres"  maxlength="50" value="Disabled" disabled="disabled">
                  </div>
                </div>
                <!-- matricula --> 
              </div>
              <!-- .row -->
              
              <!--<div class="row">
                <div class="col-lg-2 col-xs-12">
                  <div  id="input_senha"  class="form-group">
                    <label for="input_senha">Senha*</label>
                    <input type="password" id="fsenha" name="fsenha" class="form-control"  placeholder="********"  maxlength="30">
                  </div>
                </div>
                <!-- Senha --> 
              </div>
              <!-- .row --> 
              
              <!--
              <div class="row">
                <div class="col-lg-2 col-xs-12">
                  <label for="input_confirmarSenha">Confirmar Senha*</label>
                  <div id="confirmaSenha" class="form-group has-feedback">
                    <input type="password" id="fconfirmaSenha" name="fconfirmaSenha" class="form-control" onBlur="comparaSenha()" placeholder="********"  maxlength="30"/>
                    <span id="iconConfirmaSenha" class="form-control-feedback fui-check"></span><span id="senhaIncorreta"></span><!-- mesagem caso a senha esteja errada --> 
                  </div>
                </div>
                <!-- Senha --> 
              </div>
              <!-- .row -->
            </fieldset>
            <!-- Login -->

        </div>  
      </div>
    </div>

  </div><!-- Container -->
</body>
</html>
