<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pontu - Registro</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="ponto, ponto eletronico, registro de ponto"/>
        <meta name="description" content="Sistema de registro de ponto eletronico para vc poder "/>
        <meta name="author" content="Autor"/>
        <meta name="robots" content="index,follow"/>
        <!-- Favicon -->
        <!--<link rel="shortcut icon" href="../static/img/favicon.ico"/>-->
        <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>

        <!-- Loading Bootstrap -->
        <link th:href="@{/dist/css/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <!--<link href="../static/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->

        <!-- Loading Flat UI -->
        <link th:href="@{/dist/css/flat-ui.css}" rel="stylesheet"/>
        <!--<link href="../static/dist/css/flat-ui.css" rel="stylesheet"/>-->
        <link th:href="@{/docs/assets/css/demo.css}" rel="stylesheet"/>
        <!--<link href="../static/docs/assets/css/demo.css" rel="stylesheet"/>-->
        <link th:href="@{/less/flat-ui.less}" rel="stylesheet"/>

        <!-- Estilo próprio -->
        <link th:href="@{/estilo/estilo.css}" rel="stylesheet"/>
        <!--<link href="../static/estilo/estilo.css" rel="stylesheet"/>-->

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
                              <script src="dist/js/vendor/html5shiv.js"></script>
                              <script src="dist/js/vendor/respond.min.js"></script>
                            <![endif]-->
    </head>
    <body onload="ano()">
        <!-- ano() função que obtem o ano e seta ele no rodapé --> 
        <!--
        <<<<<<< Updated upstream
        -->
        <div class="container-fluid"> 

            <!-- MENU -->
            <div class="row menu">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01"> <span class="sr-only">Toggle navigation</span> </button>
                        <a class="navbar-brand" href="#"><img class="logo_pequena" th:src="@{/img/logo/logo_pontu_145x48.png}"/><!--<img class="logo_pequena" src="../static/img/logo/logo_pontu_145x48.png" alt="logo da pontu">--></a> </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-01">
                        <ul class="nav navbar-nav">
                            <li class="active"><a th:href="@{/admin/menu}">Menu</a></li>
                            <li class="active"><a th:href="@{/logout}">Logout</a></li>
                        </ul>
                        <form class="navbar-form navbar-right" action="#" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Procurar"/>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                                    </span> </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.navbar-collapse --> 
                </nav>
                <!-- /navbar --> 
            </div>
            <!-- .row menu --> 
            <!-- ======= -->

            <div class="row"> 
                <!--
            <<<<<<< Updated upstream -->
                <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>
                                    <center>
                                        Menu
                                    </center>
                                </h4>
                            </div>
                            <div class="panel-options"> </div>
                        </div>
                        <div class="panel-body"> 
                            </form>
                            <br/>
                            <form th:action="@{/admin/registro/}" method="get">
                                <div class="row">
                                    <div class="col-lg-3 col-lg-offset-5 col-xs-12">
                                        <div class="form-group">
                                            <center>
                                            <button id="btn_listaUsuarios" type="submit" class="col-lg-12 col-xs-12 btn btn-info"><span class="btn_listar">Cadastrar Usuário</span></button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row --> 
                                <br/>
                            </form>

                            </form>
                            <br/>
                            <form th:action="@{/admin/lista/}" method="get">
                                <div class="row">
                                    <div class="col-lg-3 col-lg-offset-5 col-xs-12">
                                        <div class="form-group">
                                            <button id="btn_listaUsuarios" type="submit" class="col-lg-12 col-xs-12 btn btn-info"><span class="btn_listar">Gerenciar Usuários</span></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row --> 
                                <br/>
                            </form>

                        </div>
                    </div>
                    <!-- .panel panel-default --> 

                </div>
                <!-- Coluna do formulário --> 
            </div>
            <!-- DIV Registro .row--> 

        </div>
        <!-- Container -->

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 texto-centro">
                        <h3 class="footer-title">Pontu</h3>
                        <p>Sistema de Registro de Ponto eletrônico &copy; -<span id="ano"></span></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Sweet Alert --> 
        <script th:src="@{/sweetalert/sweetalert.min.js}"></script>
        <link th:href="@{/sweetalert/sweetalert.css}" rel="stylesheet" type="text/css" >
            <!-- Sweet Alert --> 

            <!-- Script para verificar se campos obrigatórios foram preenchidos --> 
            <script th:src="@{/dist/js/checaCampos.js}"></script> 

            <!-- Script carregar o Jquery --> 
            <script th:src="@{/dist/js/jquery-3.2.1.min.js}"></script> 
            <!-- Script para comparar se as senhas são iguais --> 
            <script th:src="@{/dist/js/rest_cep.js}"></script> 
            <script th:src="@{/dist/js/obeterAno.js}"></script> 
            <script th:src="@{/dist/js/vendor/jquery.min.js}"></script> 
            <script th:src="@{/dist/js/flat-ui.min.js}"></script> 
            <script th:src="@{/docs/assets/js/application.js}"></script>
    </body>
</html>
<!-- >>>>>>> Stashed changes -->